@model RentACar.Data.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div style="background-color: gray;border-radius: 10px;padding: 25px;opacity: 0.95;">
    <h4>Vehicle</h4>
    <hr />
    <dl class="row" style="display:flex;">
        <div class="custom">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CoupeType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CoupeType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Seats)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Seats)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RequiredLicenseCategory)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RequiredLicenseCategory)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FuelType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FuelType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gearbox)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gearbox)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Doors)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Doors)
            </dd>
        </div>
        <div class="custom">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.YearOfManufacturing)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.YearOfManufacturing)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FuelTankVolume)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FuelTankVolume)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FuelConsumption)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FuelConsumption)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TrunkVolume)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TrunkVolume)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Horsepower)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Horsepower)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EngineVolume)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EngineVolume)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsBooked)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsBooked)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PricePerDay)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PricePerDay)
            </dd>
        </div>
        <div class="custom">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Facility)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Facility.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeletedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeletedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
        </div>
    </dl>
    <div style="vertical-align:bottom;">
        <a asp-action="Edit" asp-route-id="@Model.Id" style="color:white;">Edit</a> |
        <a asp-action="Index" style="color:white;">Back to List</a>
    </div>
</div>


<style>
    .custom{
        padding:20px;
        margin:5px;
    }
</style>
