@model RentACar.Web.ViewModels.Vehicle.AllVehiclesViewModel

@{ 
    this.ViewData["Title"] = "All vehicles";
}


<div class="container row">
    @foreach (var vehicle in this.Model.Vehicles)
    {
        <div class="card col" style="width: 18rem;">
            <img class="card-img-top" src="@vehicle.Picture" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@vehicle.Brand</h5>
                <h6 class="card-title">@vehicle.Model</h6>
            </div>
            <ul class="list-group list-group-flush">
                <label asp-for="@vehicle.Seats"></label>
                <li class="list-group-item">@vehicle.Seats</li>

                <label asp-for="@vehicle.Doors"></label>
                <li class="list-group-item">@vehicle.Doors</li>

                <label asp-for="@vehicle.FuelType">Fuel Type</label>
                <li class="list-group-item">@vehicle.FuelType</li>

                <label asp-for="@vehicle.Gearbox"></label>
                <li class="list-group-item">@vehicle.Gearbox</li>

                <label asp-for="@vehicle.PricePerDay">Price per day</label>
                <li class="list-group-item">@vehicle.PricePerDay</li>
            </ul>
            <div class="card-body">
                <a href="Details/@vehicle.Id" class="card-link">Details</a>
            </div>
        </div>
    }
</div>