@using RentACar.Data.Models;


@model RentACar.Web.ViewModels.Vehicle.VehicleDetailsViewModel
@{
    this.ViewData["Title"] = "Vehicle Details";
}

@*float:left;*@
<div class="wrapper" style="width: auto;margin:auto;">

    <div class="right" style="vertical-align:top;display:flex;">

        <partial name="_ImageSliderPartial" model="@Model" />

        <div class="information" style="float:right;width: 400px;background-color: rgb(227, 227, 227);border-radius: 7px;opacity: 0.8;">
            <div class="card-body" style="padding: 0px 16px;display:flex;justify-content:center;">
                <h5 class="card-title" style="padding: 0px 20px;">@Model.Brand</h5>
                <h6 class="card-title" style="margin-top: 3px;">@Model.Model</h6>
            </div>
            <div class="wrapper" style="display:flex;">
                <div class="col-md-6" style="height:auto;">
                    <div>
                        <label asp-for="@Model.CoupeType">Coupe type: @Model.CoupeType</label>
                    </div>

                    <div>
                        <label asp-for="@Model.YearOfManufacturing">Year of manufacturing: @Model.YearOfManufacturing</label>
                    </div>

                    <div>
                        <label asp-for="@Model.RequiredLicenseCategory">Required License: @Model.RequiredLicenseCategory</label>
                    </div>

                    <div>
                        <label asp-for="@Model.Seats">Seats: @Model.Seats</label>
                    </div>

                    <div>
                        <label asp-for="@Model.Doors">Doors: @Model.Doors</label>
                    </div>

                    <div>
                        <label asp-for="@Model.FuelType">Fuel Type: @Model.FuelType</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <label asp-for="@Model.FuelTankVolume">Fuel Tank Volume: @Model.FuelTankVolume l</label>
                    </div>

                    <div>
                        <label asp-for="@Model.FuelConsumption">Fuel Consumption: @Model.FuelConsumption l/100km</label>
                    </div>

                    <div>
                        <label asp-for="@Model.EngineVolume">Engine Volume: @Model.EngineVolume l</label>
                    </div>

                    <div>
                        <label asp-for="@Model.Horsepower">Horsepower: @Model.Horsepower</label>
                    </div>

                    <div>
                        <label asp-for="@Model.Gearbox">Gearbox: @Model.Gearbox</label>
                    </div>

                    <div>
                        <label asp-for="@Model.TrunkVolume">Trunk Volume: @Model.TrunkVolume l</label>
                    </div>
                </div>
            </div>
            <div style="text-align: center;margin-top: 5px;font-weight: bold;font-size: large;">
                <label asp-for="@Model.PricePerDay">Price per day: @Model.PricePerDay €</label>
            </div>
        </div>
    </div>
    <div style="float: left;margin: auto;display:inline-grid;margin-top:45px;padding:3px;   ">
        @if (!Model.IsBooked)
        {
            <a href="/Offer/CreateOffer/@Model.Id" style="width:120px;background-color:green;color:white;border-radius:8px;border:none;text-align:center;padding:3px 5px;">
                Book Now
            </a>
            
        }
        else
        {
            <a style="width: 120px;background-color: red;color: white;border-radius: 8px;border: none;text-align: center;padding: 3px 5px;">
                Booked
            </a>
        }
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" style="margin-top: 10px;width: 120px;background-color: rgb(237, 167, 45);border: none;border-radius: 8px; height: 35px;">
            Comment
        </button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Leave a comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="display: inline-grid;margin: 10px;padding: 10px;">

                <div style="display:contents">
                    <label asp-for="@Model.Comment.Title"></label>
                    <input type="text" asp-for="@Model.Comment.Title" style="margin-bottom:10px" />
                </div>

                <div style="display:contents">
                    <label asp-for="@Model.Comment.CommentDescription">Description</label>
                    <textarea asp-for="@Model.Comment.CommentDescription"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="nav-link text-dark" href="/Comment/Comment/@Model.Id" style="background-color: orange;border-radius: 5px;">Comment</a>
            </div>
        </div>
    </div>
</div>

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("carousel-item");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 2000); // Change image every 2 seconds

        // took the code from => https://tinyurl.com/y6phzzfm
    }
</script>
