@using RentACar.Data.Models;


@model RentACar.Web.ViewModels.Vehicle.VehicleDetailsViewModel
@{
    this.ViewData["Title"] = "Vehicle Details";
}

<link rel="stylesheet" type="text/css" href="engine1/style.css" />
<script type="text/javascript" src="engine1/jquery.js"></script>

<div class="flex-wrap">

    <div class="card" style="width: 18rem;">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var pic in @Model.Images)
                    {
                        <div class="carousel-item active" id="@pic.Id">
                            <img class="d-block w-100" src="@pic.URL" id="@pic.Id">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        <div class="card-body">
            <h5 class="card-title">@Model.Brand</h5>
            <h6 class="card-title">@Model.Model</h6>
        </div>
        <ul class="list-group list-group-flush">
            <label asp-for="@Model.CoupeType"></label>
            <li class="list-group-item">@Model.CoupeType</li>

            <label asp-for="@Model.YearOfManufacturing"></label>
            <li class="list-group-item">@Model.YearOfManufacturing</li>

            <label asp-for="@Model.RequiredLicenseCategory"></label>
            <li class="list-group-item">@Model.RequiredLicenseCategory</li>

            <label asp-for="@Model.Seats"></label>
            <li class="list-group-item">@Model.Seats</li>

            <label asp-for="@Model.Doors"></label>
            <li class="list-group-item">@Model.Doors</li>

            <label asp-for="@Model.FuelType">Fuel Type</label>
            <li class="list-group-item">@Model.FuelType</li>

            <label asp-for="@Model.FuelTankVolume">Fuel Tank Volume</label>
            <li class="list-group-item">@Model.FuelTankVolume</li>

            <label asp-for="@Model.FuelConsumption">Fuel Consumption</label>
            <li class="list-group-item">@Model.FuelConsumption</li>

            <label asp-for="@Model.EngineVolume">Engine Volume</label>
            <li class="list-group-item">@Model.EngineVolume</li>

            <label asp-for="@Model.Horsepower"></label>
            <li class="list-group-item">@Model.Horsepower</li>

            <label asp-for="@Model.Gearbox"></label>
            <li class="list-group-item">@Model.Gearbox</li>

            <label asp-for="@Model.TrunkVolume">Trunk Volume</label>
            <li class="list-group-item">@Model.TrunkVolume</li>

            <label asp-for="@Model.PricePerDay">Price per day</label>
            <li class="list-group-item">@Model.PricePerDay</li>
        </ul>
    </div>
</div>
