@using RentACar.Data.Models;


@model RentACar.Web.ViewModels.Vehicle.VehicleDetailsViewModel
@{
    this.ViewData["Title"] = "Vehicle Details";
}


<div class="flex-wrap">

    <div class="card" style="width: 18rem;">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var pic in @Model.Images)
                    {
                        <div class="carousel-item" id="@pic.Id">
                            <img class="d-block w-100" src="@pic.URL" id="@pic.Id">
                        </div>
                    }
                </div>
                @*<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>*@
            </div>

        <div class="card-body">
            <h5 class="card-title">@Model.Brand</h5>
            <h6 class="card-title">@Model.Model</h6>
        </div>
        <ul class="list-group list-group-flush">
            <label asp-for="@Model.CoupeType"></label>
            <li class="list-group-item">@Model.CoupeType</li>

            <label asp-for="@Model.YearOfManufacturing"></label>
            <li class="list-group-item">@Model.YearOfManufacturing</li>

            <label asp-for="@Model.RequiredLicenseCategory"></label>
            <li class="list-group-item">@Model.RequiredLicenseCategory</li>

            <label asp-for="@Model.Seats"></label>
            <li class="list-group-item">@Model.Seats</li>

            <label asp-for="@Model.Doors"></label>
            <li class="list-group-item">@Model.Doors</li>

            <label asp-for="@Model.FuelType">Fuel Type</label>
            <li class="list-group-item">@Model.FuelType</li>

            <label asp-for="@Model.FuelTankVolume">Fuel Tank Volume</label>
            <li class="list-group-item">@Model.FuelTankVolume</li>

            <label asp-for="@Model.FuelConsumption">Fuel Consumption</label>
            <li class="list-group-item">@Model.FuelConsumption</li>

            <label asp-for="@Model.EngineVolume">Engine Volume</label>
            <li class="list-group-item">@Model.EngineVolume</li>

            <label asp-for="@Model.Horsepower"></label>
            <li class="list-group-item">@Model.Horsepower</li>

            <label asp-for="@Model.Gearbox"></label>
            <li class="list-group-item">@Model.Gearbox</li>

            <label asp-for="@Model.TrunkVolume">Trunk Volume</label>
            <li class="list-group-item">@Model.TrunkVolume</li>

            <label asp-for="@Model.PricePerDay">Price per day</label>
            <li class="list-group-item">@Model.PricePerDay</li>
        </ul>
    </div>
</div>

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("carousel-item");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 2000); // Change image every 2 seconds

        // took the code from => https://tinyurl.com/y6phzzfm
    }
</script>
