@using RentACar.Data.Models;


@model RentACar.Web.ViewModels.Vehicle.VehicleDetailsViewModel
@{
    this.ViewData["Title"] = "Vehicle Details";
}

@*float:left;*@
<div class="wrapper" style="width: auto;margin:auto;">

    <partial name="_ImageSliderPartial" model="@Model" />
    <div class="right" style="float:right;width:400px;">
        <div class="card-body" style="padding: 0px 16px;display:flex;justify-content:center;">
            <h5 class="card-title" style="padding: 0px 20px;">@Model.Brand</h5>
            <h6 class="card-title" style="margin-top: 3px;">@Model.Model</h6>
        </div>
        <div class="wrapper" style="display:flex;">
            <div class="col-md-6" style="height:auto;">
                <div>
                    <label asp-for="@Model.CoupeType">Coupe type: @Model.CoupeType</label>
                </div>

                <div>
                    <label asp-for="@Model.YearOfManufacturing">Year of manufacturing: @Model.YearOfManufacturing</label>
                </div>

                <div>
                    <label asp-for="@Model.RequiredLicenseCategory">Required License: @Model.RequiredLicenseCategory</label>
                </div>

                <div>
                    <label asp-for="@Model.Seats">Seats: @Model.Seats</label>
                </div>

                <div>
                    <label asp-for="@Model.Doors">Doors: @Model.Doors</label>
                </div>

                <div>
                    <label asp-for="@Model.FuelType">Fuel Type: @Model.FuelType</label>
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <label asp-for="@Model.FuelTankVolume">Fuel Tank Volume: @Model.FuelTankVolume l</label>
                </div>

                <div>
                    <label asp-for="@Model.FuelConsumption">Fuel Consumption: @Model.FuelConsumption l/100km</label>
                </div>

                <div>
                    <label asp-for="@Model.EngineVolume">Engine Volume: @Model.EngineVolume l</label>
                </div>

                <div>
                    <label asp-for="@Model.Horsepower">Horsepower: @Model.Horsepower</label>
                </div>

                <div>
                    <label asp-for="@Model.Gearbox">Gearbox: @Model.Gearbox</label>
                </div>

                <div>
                    <label asp-for="@Model.TrunkVolume">Trunk Volume: @Model.TrunkVolume l</label>
                </div>
            </div>
        </div>
        <div style="text-align: center;margin-top: 5px;font-weight: bold;font-size: large;">
            <label asp-for="@Model.PricePerDay">Price per day: @Model.PricePerDay €</label>
        </div>
    </div>
    <div style="float: right;margin: auto;margin-top: 264px;margin-right: 15px;">
        @if (Model.IsBooked)
        {
            <a style="width: 60px;background-color: red;color: white;border-radius: 8px;border: none;text-align: center;padding: 3px 5px;">
                Booked
            </a>
        }
        else
        {
            <a href="/Offer/CreateOffer/@Model.Id" style="width:80px;background-color:green;color:white;border-radius:8px;border:none;text-align:center;padding:3px 5px;">
                Book Now
            </a>
        }
    </div>
</div>

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("carousel-item");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 2000); // Change image every 2 seconds

        // took the code from => https://tinyurl.com/y6phzzfm
    }
</script>
